rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Simplified admin check
    function isAdmin() {
      return isAuthenticated() && 
        exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    // Admins collection - Simplified rules
    match /admins/{adminId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update, delete: if request.auth.uid == adminId;
    }

    // Companies collection - Allow all operations without restrictions
    match /companies/{companyId} {
      allow read, write: if true;
    }

    // Nouvelles règles pour la collection settings
    match /settings/{document} {
      allow read: if request.auth != null;  // Permet la lecture à tous les utilisateurs authentifiés
      allow write: if request.auth != null 
        && exists(/databases/$(database)/documents/admins/$(request.auth.uid))
        && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role == 'admin';
    }
     // Règles pour la collection payments/transactions
    match /transactions/{transactionId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }
  }
} 